@page "/products"

@using BlazingShop.Data
@using BlazingShop.Models
@using Microsoft.EntityFrameworkCore

@inject AppDbContext _context;

<h2>Produtos</h2>

<div class="mb-3">
    <a href="products/register" class="btn btn-outline-primary"><i class="oi oi-plus"></i> Cadastrar</a>
</div>

<table class="table table-bordered table-hover table-responsive shadow">
    <thead>
        <tr>
            <td>#</td>
            <td>Título</td>
            <td>Preço</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        @foreach(var product in _products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Title</td>
                <td>@product.Price.ToString("C")</td>
                <td class="text-center">
                    <a href="/products/edit/@product.Id">Editar</a>
                    <a href="/products/delete/@product.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        _products = await _context.Products.AsNoTracking().ToListAsync();
    }
}