@page "/produtos/{skip:int?}/{take:int?}"
@using BlazingShop.Models
@using BlazingShop.Pages.Components

<PageTitle>Produtos</PageTitle>

<h2>Produtos</h2>

<ProductListComponent Skip="@Skip" Take="@Take"></ProductListComponent>

@code {
    [Parameter]
    public int Skip { get; set; } = 0;

    [Parameter]
    public int Take { get; set; } = 25;
}